[submodule "Documentation/Examples/SubliminalTest/SubliminalTest/Integration Tests/OCMock"]
	path = Documentation/Examples/SubliminalTest/SubliminalTest/Integration Tests/OCMock
	url = git@github.com:inkling/ocmock.git
[submodule "Subliminal Unit Tests/OCMock"]
	path = Subliminal Unit Tests/OCMock
	url = git@github.com:inkling/ocmock.git
