.magic-bell-container {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  font-family: 'Source Sans Pro', 'Lucida Grande', verdana, helvetica, sans;
}
